@{
	ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">
<body>
	<!-- Header section -->
	<section id="header" class="header-three">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
					<div class="header-thumb">
						<h1 class="wow fadeIn" data-wow-delay="0.1s">About Us</h1>
						<h3 class="wow fadeInUp" data-wow-delay="0.1s">Founded 2024</h3>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- About section -->
	<section id="about">
		<div class="container">
			<div class="row">

				<div class="wow fadeInUp col-md-4 col-sm-5" data-wow-delay="0.1s">
					<img src="~/images/about-img1.jpg" class="img-responsive" alt="About">
					<h1>About Sew Sew</h1>
					<p>
						udhfaoudhfaudhfaiuidfhaiudhfuhds
						sdfhaisdfyapdufyasdfyu
					</p>
				</div>

				<div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.1s">
					<h1>How it all began</h1>
					<p>stuff in paragraph</p>
					<blockquote> blockquote: uduludhfasudhfiashdf </blockquote>
					<img src="~/images/about-img.jpg" class="img-responsive" alt="About">
					<p> dhjdhasjdfaljdhflajdflasjdflsjdfasjdflasjdflasdfhaslkdjfaslkdfjasdjj </p>
				</div>

				<div class="clearfix"></div>

				<div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.2s">
					<h1>title</h1>
					<p>blah blah </p>
				</div>

				<div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.2s">
					<h1> title </h1>
					<p></p>
				</div>

				<div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="0.2s">
					<h1>Title</h1>
					<p> blah blah</p>
				</div>

				<div class="clearfix"></div>

				<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.2s">
					<h1> title </h1>
					<p> blah blah </p>
				</div>

				<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.2s">
					<h1> title <h1>
					<p> blah blah </p>
				</div>

			</div>
		</div>
	</section>

</body>
</html>